<section class="content">

    <div class="container-fluid">

        <form method="post" enctype="multipart/form-data">


            <div class="row">
                <div class="crad-body">

                    <div class="col-md-9">
                        <div class="form-group">
                            <label> رزمه</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="file" name="cv" class="form-control ltr">
                            </div>
                            <!-- /.input group -->
                        </div>

                    </div>
                    <div class="col-md-3">

                        <input class="btn btn-danger" type="submit" />
                    </div>


                </div>
            </div>

        </form>
    </div>


</section>

